.bubble {
    width: 300px;
    margin: 0 auto;
    display: block;
  }
  
  .bubble .anchor {
    width: 10%;
    margin: 0 auto;
    aspect-ratio: 1;
    background: #84817a;
    border-radius: 50%;
    transform: translateY(47%);
    text-align: center;
    cursor: pointer;
  }
  
  .bubble [popup] {
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: none;
    width: inherit;
    transform: translateY(-6px);
    background: transparent;
  }
  
  .bubble .listbox-inner {
    width: inherit;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #84817a;
    position: relative;
    margin-top: 10px;
  }
  
  /* .bubble .listbox-inner::before,
  .bubble .listbox-inner::after {
    content: "";
    width: 10%;
    aspect-ratio: 1;
    position: absolute;
    left: 106px;
    background: radial-gradient(circle, white 71%, transparent 0), linear-gradient(135deg, transparent 70%, #24aaa0 0);
    top: -28px;
  } */
  
  /* .bubble .listbox-inner::after {
    right: 106px;
    background: radial-gradient(circle, white 71%, transparent 0), linear-gradient(-135deg, transparent 70%, #24aaa0 0);
    left: unset;
  } */
  
  .bubble .smileys {
    width: 300px;
    aspect-ratio: 1;
    overflow: hidden;
    text-align: center;
  }
  
  .bubble .smileys .left,
  .bubble .smileys .right {
    content: "";
    display: block;
    float: left;
    height: 100%;
    width: 50%;
    /* Firefox's shapes editor saved my skin here! You don't want to do this by hand.  */
    shape-outside: polygon( 100% 0, 77.35% 1.46%, 54% 5%, 33.33% 12.33%, 18% 21%, 9.74% 28.72%, 3px 40.33%, 0 50%, 3px 60%, 8.67% 70.67%, 19.33% 80%, 34.67% 87.67%, 52.54% 93.63%, 70.59% 97.87%, 100% 100%, 0 100%, 0 0);
  }
  
  .bubble .smileys .right {
    float: right;
    shape-outside: polygon( 0px 0, 23.64% 1.41%, 42.67% 4.67%, 64.67% 11.33%, 82% 20.33%, 92% 30%, 97.13% 39.15%, 100% 50%, 96.67% 62.67%, 90% 71%, 78.67% 82%, 59.42% 90.4%, 35.33% 97%, 0 100%, 100% 100%, 100% 0);
  }
  
  .bubble .smileys option {
    font-size: 25px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    aspect-ratio: 1;
    cursor: pointer;
  }
  
  .bubble .smileys option:hover {
    background: #0003;
  }



  .multiselect [slot="button"] {
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(217, 217, 217);
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    width: 300px;
    min-height: 32px;
    cursor: pointer;
  }
  
  .multiselect:focus-within [slot="button"] {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    border-right-width: 1px !important;
    border-color: #40a9ff;
    outline: 0px;
  }
  
  .multiselect .selected-values {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    margin: 0;
    padding: 4px;
    list-style: none;
  }
  
  .multiselect .selected-values li {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    height: 24px;
    line-height: 22px;
    cursor: default;
    user-select: none;
    margin-inline-end: 4px;
    padding-inline-start: 8px;
    padding-inline-end: 4px;
    flex: 0 0 auto;
    background: #84817a;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 2px;
  }
  
  .multiselect .selected-values .label {
    margin-right: 4px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .multiselect .selected-values .remove {
    color: rgba(0, 0, 0, 0.45);
    font-size: 10px;
    cursor: pointer;
  }
  
  .multiselect option {
    position: relative;
    display: flex;
    min-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    padding: 5px 12px;
    transition: background 0.3s ease 0s;
    justify-content: space-between;
    align-items: center;
  }

  @media (prefers-color-scheme: dark) {
    .multiselect option {
      background-color: antiquewhite;
    }

  }
  
  .multiselect option[selected] {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    background-color:#f5cd79;
  }
  
  .multiselect option[selected]::after {
    content: url('data:image/svg+xml;utf8,<svg viewBox="64 64 896 896" xmlns="http://www.w3.org/2000/svg" height="12" version="1.1" width="12"><path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path></svg>');
  }