.bubble {
    width: 300px;
    margin: 0 auto;
    display: block;
  }
  
  .bubble .anchor {
    width: 10%;
    margin: 0 auto;
    aspect-ratio: 1;
    background: #24aaa0;
    border-radius: 50%;
    transform: translateY(47%);
    text-align: center;
    cursor: pointer;
  }
  
  .bubble [popup] {
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: none;
    width: inherit;
    transform: translateY(-6px);
    background: transparent;
  }
  
  .bubble .listbox-inner {
    width: inherit;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #24aaa0;
    position: relative;
    margin-top: 10px;
  }
  
  .bubble .listbox-inner::before,
  .bubble .listbox-inner::after {
    content: "";
    width: 10%;
    aspect-ratio: 1;
    position: absolute;
    left: 106px;
    background: radial-gradient(circle, white 71%, transparent 0), linear-gradient(135deg, transparent 70%, #24aaa0 0);
    top: -28px;
  }
  
  .bubble .listbox-inner::after {
    right: 106px;
    background: radial-gradient(circle, white 71%, transparent 0), linear-gradient(-135deg, transparent 70%, #24aaa0 0);
    left: unset;
  }
  
  .bubble .smileys {
    width: 300px;
    aspect-ratio: 1;
    overflow: hidden;
    text-align: center;
  }
  
  .bubble .smileys .left,
  .bubble .smileys .right {
    content: "";
    display: block;
    float: left;
    height: 100%;
    width: 50%;
    /* Firefox's shapes editor saved my skin here! You don't want to do this by hand.  */
    shape-outside: polygon( 100% 0, 77.35% 1.46%, 54% 5%, 33.33% 12.33%, 18% 21%, 9.74% 28.72%, 3px 40.33%, 0 50%, 3px 60%, 8.67% 70.67%, 19.33% 80%, 34.67% 87.67%, 52.54% 93.63%, 70.59% 97.87%, 100% 100%, 0 100%, 0 0);
  }
  
  .bubble .smileys .right {
    float: right;
    shape-outside: polygon( 0px 0, 23.64% 1.41%, 42.67% 4.67%, 64.67% 11.33%, 82% 20.33%, 92% 30%, 97.13% 39.15%, 100% 50%, 96.67% 62.67%, 90% 71%, 78.67% 82%, 59.42% 90.4%, 35.33% 97%, 0 100%, 100% 100%, 100% 0);
  }
  
  .bubble .smileys option {
    font-size: 25px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    aspect-ratio: 1;
    cursor: pointer;
  }
  
  .bubble .smileys option:hover {
    background: #0003;
  }